################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/LTChess
/obj
/Logic/Search/Quiescence.cs
/Logic/Search/NegaMax.cs
/Logic/Core/HashPerft.cs
