name: Build

on: [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
        - os: ubuntu-latest
          target: linux-x64
        - os: windows-latest
          target: win-x64
        - os: macos-latest
          target: x86_64-apple-darwin
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0

    - name: Build ${{ matrix.target }}
      run: dotnet publish Lizard.csproj --self-contained -p:DebugType=embedded -c release -r ${{ matrix.target }} -o "${{ github.workspace }}/builds/${{ matrix.target }}"

    - name: Upload ${{ matrix.target }} Build
      uses: actions/upload-artifact@v3
      with:
        name: Lizard-${{ matrix.target }}
        path: ${{ github.workspace }}/builds/${{ matrix.target }}
